.nav-h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 300%;
    color: rgb(44, 44, 44);
}

.nav-h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 150%;
    color: rgb(44, 44, 44);
}

body {
    background-image: url(../images/color-background.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Quicksand', sans-serif;
    color: rgb(44, 44, 44);
  }

.jumbo-main {
    background-color: rgba(255, 255, 255, 0.753);
}

.jumbo-main h1 {
    font-family: 'Ruthie', cursive;
    text-align: center;
    line-height: 50px;
    font-size: 100px;
  }

  .jumbo-style h1 {
    font-family: 'Ruthie', cursive;
    text-align: center;
    line-height: 50px;
    font-size: 100px;
  }


.footer-col {
    text-align: center;
    background-color: #f8f9fa;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(44, 44, 44);
}
.jumbo-style {
    background-color: rgba(255, 255, 255, 0.753);
}